<div class="cont relative w-full h-[60vh]">
    <img src="assets/background.jpg" class="w-full h-full object-cover" alt="meee">

    <div class="absolute inset-0 bg-black/50 flex justify-center items-center">
        <div class="container mx-auto flex flex-col justify-center items-center md:items-start text-center md:text-left p-4">
            <h2 class="text-3xl md:text-5xl font-normal text-white mb-2 md:mb-4">Hazem Mohamed</h2>
            <p class="text-white/70 text-lg md:text-xl mb-4">Front End Developer</p>
            <button class="text-white uppercase border-white border px-4 py-2 md:px-6 md:py-2 rounded-lg">Contact me</button>
        </div>
    </div>
</div>
