<section id="skills" class="py-20 bg-[#3d3d3d]">
    <div class="container flex justify-center  flex-col mx-auto px-4">
        <div class="header mx-auto text-center max-w-[600px]">
            <h2 class="text-3xl text-white font-semibold">Skills</h2>
            <p class="text-xl text-white/70">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex veritatis vel aliquid eligendi cumque expedita, quod explicabo quaerat facilis a ad quae ipsum eius corrupti in molestiae at molestias! Qui.</p>
        </div>
        <div class="elements items-start justify-center flex-shrink-0 mt-12 flex flex-col md:flex-row gap-[70px]">
            <div class="my-focus text-white">
                <h1 class="text-2xl border-b-2 border-white py-2 mb-4">My Focus</h1>
                <ul class="list-none space-y-2">
                    <li>Web Design</li>
                    <li>Web Development</li>
                    <li>Mobile Development</li>
                    <li>UI/UX Design</li>
                </ul>
            </div>
            <div class="grid grid-cols-1 gap-8 w-full md:max-w-[600px] flex-1">
                <div class="flex items-center">
                    <h4 class="text-xl text-white bg-[#959188] w-fit px-4 py-2 h-11 font-semibold">HTML</h4>
                    <div class="w-full bg-white h-11 ">
                        <div class="bg-[#edecea] h-11" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <h4 class="text-xl text-white bg-[#959188] w-fit px-4 py-2 h-11 font-semibold">CSS</h4>
                    <div class="w-full bg-white h-11 ">
                        <div class="bg-[#edecea] h-11" style="width: 85%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <h4 class="text-xl text-white bg-[#959188] w-fit px-4 py-2 h-11 font-semibold">JavaScript</h4>
                    <div class="w-full bg-white h-11 ">
                        <div class="bg-[#edecea] h-11" style="width: 85%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <h4 class="text-xl text-white bg-[#959188] w-fit px-4 py-2 h-11 font-semibold">React</h4>
                    <div class="w-full bg-white h-11 ">
                        <div class="bg-[#edecea] h-11" style="width: 95%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <h4 class="text-xl text-white bg-[#959188] w-fit px-4 py-2 h-11 font-semibold">Tailwind</h4>
                    <div class="w-full bg-white h-11 ">
                        <div class="bg-[#edecea] h-11" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <h4 class="text-xl text-white bg-[#959188] w-fit px-4 py-2 h-11 font-semibold">Next</h4>
                    <div class="w-full bg-white h-11 ">
                        <div class="bg-[#edecea] h-11" style="width: 65%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
