<section id="about" class="py-20 bg-gray-100">
    <div class="container mx-auto px-4 flex flex-col lg:flex-row gap-12 items-start">
        
        <!-- Heading -->
        <h2 class="text-4xl lg:text-6xl font-normal text-gray-900" style="text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);">
            About Me
        </h2>
        
        <!-- Content -->
        <div class="w-full lg:w-3/4 lg:pl-8">
            <p class="mt-4 text-gray-800 text-lg lg:text-xl">
                I am a passionate Front End Developer with a strong foundation in HTML, CSS, and JavaScript. With a keen
                eye for design and a dedication to crafting responsive and user-friendly websites, I strive to create
                seamless and engaging user experiences. Over the years, I've developed a deep understanding of modern web
                development practices, staying up-to-date with the latest technologies and frameworks. I enjoy taking on
                challenging projects that push my skills and allow me to contribute to innovative solutions. Whether
                working independently or as part of a team, I am committed to delivering high-quality code and
                collaborating effectively to achieve project goals. Let's build something great together!
            </p>
            <a href="https://github.com/hazem-moh" 
                class="bg-[#3d3d3d] text-white py-3 px-6 text-lg lg:text-xl rounded mt-6 inline-block">
                View My Work
            </a>
        </div>
    </div>
</section>
